.puck {
    --puck-border: 1px solid rgba(0, 0, 0, 0.6);
    --puck-selected-color: rgb(6, 95, 212);

    position: relative;
    border: var(--puck-border);
    border-radius: 50%;
    height: 175px;
    width: 175px;
}

.puck__cell {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: var(--puck-border);
    background-color: white;
    cursor: pointer;
}

.puck__cell:hover {
    background-color: var(--puck-selected-color);
    opacity: 0.9;
    color: white;
}

.puck__cell--selected {
    background-color: var(--puck-selected-color);
    color: white;
}