.canvas-component_canvas-2d {
    border: #ffffff 1px solid;
}
.puck{
  position: relative;
  height: 300px;
  width: 300px;
  border: 1px solid rgb(0, 0, 0);
}
.puck__cell{
  position:absolute;
  border-radius: 50%;
  width: 30px;
  border:1px solid black;
  height: 30px;
}
.puck__cell:hover{
  background-color :#21e9ff;
  color:black;
}
.puck__cell--selected{
  background-color: rgb(108, 213, 255);
  color:black
}
.circle{
  border:1px solid rgb(0, 0, 0);
  border-radius: 50%;
  position:absolute;
  top: 62px;
  left: 62px;
  height: 175px;
  width: 175px;
}